<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section>
			<form action="https://formspree.io/{{ site.email }}" method="POST">
				<div class="field half first">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field half">
					<label for="email">Email</label>
					<input type="text" name="_replyto" id="email" />
				</div>
				<div class="field">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="6"></textarea>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Send Message" class="special" /></li>
					<li><input type="reset" value="Clear" /></li>
				</ul>
			</form>
		</section>
		<section class="split">
            <section>
				<h3>Contact:</h3>
			
				<div class="contact-method">
					<span class="icon alt fa-phone"></span>
					<span>Management:</span><br />
					<span>Niki v.d. Schuren</span><br />
					<span>+31 6 42 78 90 94 </span>
				</div>
			
				<div class="contact-method">
					<span class="icon alt fa-phone"></span>
					<span>
					Bookings: <br />
					Sjaak Korsten<br />
					+31 6 12 90 79 25<br />
					</span>
				</div>
				
				<div class="contact-method">
					<span class="icon alt fa-envelope"></span>
					<a href="mailto:{{ site.email }}">{{ site.email }}</a>
				</div>
			</section>
		</section>
	</div>
</section>
