<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
                {% if site.facebook_url %}
				<li><a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
				{% endif %}
				{% if site.twitter_url %}
				<li><a href="{{ site.twitter_url }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				{% endif %}
				{% if site.googleplus_url %}
				<li><a href="{{ site.googleplus_url }}" class="icon alt fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
				{% endif %}
				{% if site.instagram_url %}
				<li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}
				{% if site.pinterest_url %}
				<li><a href="{{ site.pinterest_url }}" class="icon alt fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
				{% endif %}
				{% if site.youtube_url %}
				<li><a href="{{ site.youtube_url }}" class="icon alt fa-youtube" target="_blank"><span class="label">YouTube</span></a></li>
				{% endif %}
				{% if site.gitlab_url %}
				<li><a href="{{ site.gitlab_url }}" class="icon alt fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
				{% endif %}
				{% if site.github_url %}
				<li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
				{% endif %}
				{% if site.slack_url %}
				<li><a href="{{ site.slack_url }}" class="icon alt fa-slack" target="_blank"><span class="label">Slack</span></a></li>
				{% endif %}
				{% if site.linkedin_url %}
				<li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
				{% endif %}
			</ul>
			<ul class="copyright">
				<li>&copy; {{ site.title }}</li>
				<li>2016 - <script language="javascript" type="text/javascript">
                    var today = new Date()
                    var year = today.getFullYear()
                    document.write(year)
                </script></li>
				<!--<li>Design: <a href="http://veritasfarm.net" target="_blank">Anke Boersma</a></li>-->
                <li>{{ site.state }}, {{ site.country }}</li>
                <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                <li>{{ site.phone }}</li>
            </ul>
			<a href="#" class="crunchify-top"><i class="icon alt fa-chevron-up custom" ></i></a>
		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ site.url }}/assets/js/jquery.min.js" }}"></script>
	<script src="{{ site.url }}/assets/js/jquery.scrolly.min.js" }}"></script>
	<script src="{{ site.url }}/assets/js/jquery.scrollex.min.js" }}"></script>
	<script src="{{ site.url }}/assets/js/skel.min.js" }}"></script>
	<script src="{{ site.url }}/assets/js/util.js" }}"></script>
	
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ site.url }}/assets/js/main.js" }}"></script>
	
<!--Media Element -->
    <script src="/assets/js/audioplay.js"></script>
   
<!--Scroll to current date -->
    <script>
        function ScrollView () {
            var view = document.getElementById ("view");
            $( "#view" )[0].scrollIntoView();
        }
    </script>
<!-- webshop -->
<script type="text/javascript" src="{{ site.url }}/assets/js/webshop.js"></script>
<script type="text/javascript">
    updateCartCount();
    {% if page.layout == 'cart' %}populateCart();{% endif %}
    {% if page.layout == 'checkout' %}initCheckoutForm(document.querySelector('#checkout form'));{% endif %}
    {% if page.layout == 'palink' %}redirectToPayment('https://useplink.com/payment/qqMgtkddEzgC4rKKJJ9T');{% endif %}
</script>

