<section id="two" class="tiles">
    <article>
        <span class="image">
            <img src="assets/images/logo_bckgr.jpg" alt="" />
        </span>
        <header class="">
            <p>"A rebellious collision of vintage blues, offbeat rock ‘n’ roll, gypsy-jazz and quirky storytelling."-<a href="http://bluesmagazine.nl/" target="blank">bluesmagazine.nl</p></a>
            <p>"If alchemy exists then The Ragtime Rumours have found the secret, stolen, or just received with great care by the wizards of the genre’s past.."-<a href="liverpoolsoundandvision.co.uk/" target="blank">http://liverpoolsoundandvision.co.uk/</a>.</p>
            <h5>Winner of the European Blues Challenge 2018/Popprijs Limburg 2019</h5>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="assets/images/band_bw1_d.png" alt="" />
        </span>
        <header class="">
            <p>Finally, we're going to release Abandon Ship as intended, on Vinyl!! We can't set the release date yet, but you can pre-order it in our <a href="{{ site.baseurl }}/shop">webshop</a>. To thank you for ordering the record in advance we offer you a gift, our very first live album, "Hard Luck". It'll contain songs we played on gigs through Europe from 2017 'till 2020 and you'll receive it digitally. For those who don't want the LP, "Hard Luck" will be available as well. You can <a href="{{ site.baseurl }}/shop">donate any amount you want</a> to spend on it, this way you help us to keep on creating the best music we can possibly make, for which we'd be incredibly thankful.</p>
            <!--<h5>Let the ragtime's roll!!</h5>-->
            <!--<h3>Winner of The Dutch Blues Challenge 2017.</h3>-->
        </header>
    </article>
    <article>
        <span class="image">
            <img src="assets/images/tom_410.jpg" alt="" />
        </span>
        <header class="major">
            <h3>Tom Janssen</h3>
            <p>Lead Vocals, Banjo & Guitar</p>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="assets/images/timo_410.jpg" alt="" />
        </span>
        <header class="major">
            <h3>Thimo Gijezen</h3>
            <p>Guitar, Piano, Accordion, Upright bass & Vocals</p>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="assets/images/niki_410.jpg" alt="" />
        </span>
        <header class="major">
            <h3>Niki v.d. Schuren</h3>
            <p>Upright bass, Saxophone, Flute & Vocals</p>
        </header>
    </article>
     <article>
        <span class="image">
            <img src="assets/images/sjaak_bw.jpg" alt="" />
        </span>
        <header class="major">
            <h3>Sjaak Korsten</h3>
            <p>Drums, Washboard, Kazoo & Vocals</p>
        </header>
    </article>
</section>
