<section id="two" class="tiles">
    <article>
        <span class="image">
            <img src="assets/images/tom_410.jpg" alt="" />
        </span>
        <header class="major">
            <h3>Tom Janssen</h3>
            <p>Lead Vocals, Banjo & Guitar</p>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="assets/images/timo_410.jpg" alt="" />
        </span>
        <header class="major">
            <h3>Thimo Gijezen</h3>
            <p>Guitar, Piano, Accordion, Upright bass & Vocals</p>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="assets/images/niki_410.jpg" alt="" />
        </span>
        <header class="major">
            <h3>Niki v.d. Schuren</h3>
            <p>Upright bass, Saxophone, Flute & Vocals</p>
        </header>
    </article>
     <article>
        <span class="image">
            <img src="assets/images/sjaak_bw.jpg" alt="" />
        </span>
        <header class="major">
            <h3>Sjaak Korsten</h3>
            <p>Drums, Washboard, Kazoo & Vocals</p>
        </header>
    </article>
</section>
