<section id="north" class="tiles">
    <article class="north">
        <span class="image">
            <img src="assets/images/noord_dark.jpeg" alt="" />
        </span>
        
            <a href="assets/media/noord.zip" target="blank" title= "Download Noord">
            <header class="major">
                <h3>Noord</h3></a>
                <p>An Ep inspired by anything, everything and nothing. Recorded and written in a period of 8 years by The Ragtime Rumours. This Ep contains the songs:</p>
                <ul>
                    <li>Save me</li>
                    <li>Tag along</li>
                    <li>Huchipoem blues</li>
                    <li>Miss you</li>
                    <li>Aint got time</li>
                    <li>Hylöpter</li>
                </ul>
            </header>
        
    </article>
    
    <article class="north">
        <span class="image">
            <img src="assets/images/o_dark.jpg" alt="" />
        </span>

        <header class="major">
            <a href="assets/media/oost.zip" target="blank" title= "Download Oost">
            <h3>Oost</h3>
            </a>
            <p>An Ep inspired by eastern musical culture. Recorded and written in 2023 by The Ragtime Rumours. This Ep contains the songs:</p>
            <ul>
                <li>Salmaniac intro</li>
                <li>Dirty minor</li>
                <li>Rich, loved and adored</li>
                <li>Unfortunate farmer</li>
                <li>Salmaniac outro</li>
            </ul>
        </header>
    </article>
     <article class="north">
        <span class="image">
            <img src="assets/images/z_dark.jpg" alt="" />
        </span>
            <a href="assets/media/zuid.zip" target="blank" title= "Download Zuid">
            <header class="major">
            <h3>Zuid</h3>
            </a>
            <p>An Ep inspired by suitern musical culture. Recorded and written in 2019 by The Ragtime Rumours. This Ep contains the songs: 
           </p>
            <ul>
                <li>Yummy and Steve</li>
                <li>Candy</li>
                <li>Sugar</li>
                <li>Sweet Lola Rose</li>
            </ul>
        </header>
    </article>
    <article class="north">
        <span class="image">
            <img src="assets/images/w_dark.jpg" alt="" />
        </span>
        <a href="assets/media/west.zip" target="blank" title= "Download West">
        <header class="major">
            <h3>West</h3>
        </a>
            <p>An Ep inspired by western musical culture. Recorded and written in 2017 by The Ragtime rumours. This Ep Contains the songs:
            <ul>
                <li>Love &Lust</li>
                <li>Hard times</li>
                <li>Gonna pay</li>
            </ul>
        </header>
    </article>
</section>
