<section id="two" class="tiles">
    <article>
        <span class="image">
            <img src="assets/images/logo_bckgr.jpg" alt="" />
        </span>
        <header class="">
            <p>"A rebellious collision of vintage blues, offbeat rock ‘n’ roll, gypsy-jazz and quirky storytelling."-<a href="http://bluesmagazine.nl/" target="blank">bluesmagazine.nl</p></a>
            <p>"If alchemy exists then The Ragtime Rumours have found the secret, stolen, or just received with great care by the wizards of the genre’s past.."-<a href="liverpoolsoundandvision.co.uk/" target="blank">http://liverpoolsoundandvision.co.uk/</a>.</p>
            <h5>Winner of the European Blues Challenge 2018/Popprijs Limburg 2019</h5>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="assets/images/band_bw1_d.png" alt="" />
        </span>
        <header class="">
            <p>Dear dear friends and supporters, we have a sad announcement for you. This will be the last year for The Ragtime Rumours being an active band. We’ve existed for 10 years now and in the meantime a lot has changed and despite being great friends with a shared passion for creating art, needs and ambitions have shifted. That’s why we decided to part our ways as a musical collective respecting and doing justice to our friendships and the quality of our music. Our very last show will be at <a href="https://www.grenswerk.nl/agenda/the-ragtime-rumours-2/" target="blank">Poppodium Grenswerk, Venlo (NL) the 30st of December</a>. We hope to see you there and/or at other upcoming shows to celebrate 10 years of awesome Rag ‘n Roll adventures!! Our gratitude is endless for you to believe in us and for sharing all of these valuable moments with us!! Thank you so much and we hope to see you soon.
            Tom, Sjaak, Thimo and Niki.
           </p>
            <!--<h5>Let the ragtime's roll!!</h5>-->
            <!--<h3>Winner of The Dutch Blues Challenge 2017.</h3>-->
        </header>
    </article>
    <article>
        <span class="image">
            <img src="assets/images/tom_410.jpg" alt="" />
        </span>
        <header class="major">
            <h3>Tom Janssen</h3>
            <p>Lead Vocals, Banjo & Guitar</p>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="assets/images/timo_410.jpg" alt="" />
        </span>
        <header class="major">
            <h3>Thimo Gijezen</h3>
            <p>Guitar, Piano, Accordion, Upright bass & Vocals</p>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="assets/images/niki_410.jpg" alt="" />
        </span>
        <header class="major">
            <h3>Niki v.d. Schuren</h3>
            <p>Upright bass, Saxophone, Flute & Vocals</p>
        </header>
    </article>
     <article>
        <span class="image">
            <img src="assets/images/sjaak_bw.jpg" alt="" />
        </span>
        <header class="major">
            <h3>Sjaak Korsten</h3>
            <p>Drums, Washboard, Kazoo & Vocals</p>
        </header>
    </article>
</section>
