
<!-- One -->
<section id="video" class="center">
	<a href="assets/media/the_ragtime_rumours_final.zip" target="blank">
	<div class="inner">
		
        <!--<video width="90%" controls preload="metadata">
            <source src="assets/media/i_cant_sing_the_blues.webm#t=1,100" type="video/webm">
            <source src="https://kaosx.us/media/i_can't_sing_the_blues.mp4#t=1,100" type="video/mp4">
            Your browser does not support the video tag.
        </video>-->
 
		<h4>Our Compilation Album of the Cardinal Directions</h4>
		<img src="assets/images/cover_2023.12.jpeg" title= "Download Final Album" alt="Final Album" width="200px" class="">

	</div></a>
	
</section>

