<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

    <section id="contact">
        <div class="inner">
            <section>
                <div id="checkout">
                    <h1>{{ page.title }}</h1>

                    {{ content }}
                    
                    <form action="https://formsubmit.co/{{ site.email }}" method="POST" onchange="setAddons(this)"/>
                    <!--<form action="/paylink/" method="post" onchange="setAddons(this)">-->
                        <input name="_gotcha" style="display:none" type="text">
                        <input name="_honey" style="display:none" type="text">
                        <input type="hidden" name="_autoresponse" value="Copy of Order">
                        <input name="_replyto" type="hidden" value="{{ site.email }}">
                        <input name="_subject" value="New order!" type="hidden">
                        <input name="ordernumber" value="" type="hidden">

                        <div class="field half first">
                            <label for="firstname">First name</label>
                            <input type="text" name="firstname" id="name" required />
                        </div>

                        <div class="field half">
                            <label for="lastname">Last name</label>
                            <input type="text" name="lastname" required />
                        </div>

                        <div>
                            <label for="email">Email address</label>
                            <input type="email" name="email" required />
                        </div>

                        <div>
                            <label for="address">Address</label>
                            <input type="text" name="address" required />
                        </div>

                        <div class="field half first">
                            <label for="zipcode">Zipcode</label>
                            <input type="text" name="zipcode" required />
                        </div>

                        <div class="field half">
                            <label for="city">City</label>
                            <input type="text" name="city" required />
                        </div>

                        <div class="field half first">
                            <label for="shipping">Shipping</label>
                            <select name="shipping" class="item_size" required onchange="if(this.value == 'NL') document.querySelector('input[name=\'country\']').value = 'The Netherlands'; else document.querySelector('input[name=\'country\']').value = ''">
                                <option value=""></option>
                                <option value="Local" data-title="Local Pick-up" data-price="0">Local pick-up/Donation (+ &euro; 0.00)</option>
                                <option value="NL" data-title="Shipping NL cd" data-price="5.00">CD Netherlands (incl. packaging) (+ &euro; 5.00)</option>
                                <option value="NL" data-title="Shipping NL other" data-price="8.00">Clothing or Vinyl Netherlands (incl. packaging) (+ &euro; 8.00)</option>
                                <option value="EU" data-title="Shipping EU" data-price="23.00">European Union (+ &euro; 23.00)</option>
                                <option value="World" data-title="Shipping World" data-price="25">Rest of the world (+ &euro; 25.00)</option>
                            </select>
                        </div>

                        <div class="field half">
                            <label for="country">Country</label>
                            <input type="text" name="country" required />
                        </div>

                        <div>
                            <label>Newsletter:</label>
                            <label><input type="radio" name="newsletter" value="no" required> No Subscription</label>
                            <label><input type="radio" name="newsletter" data-title="Newsletter Subscribe" value="yes" required> Subscribe to Newsletter (max 4 x per year)</label>
                        </div>

                        <div>
                            <label for="message">Message</label>
                            <textarea name="message"></textarea>
                        </div>

                        <div class="submitbutton"><a href="/cart" class="gray">back to cart</a>&nbsp;&nbsp;
                            <input type="submit" value="Place the Order" onclick="setOrderNumber(this.parentNode.parentNode);" />
                            <input type="hidden" name="_next" value="https://theragtimerumours.com/order_send" />
                        </div>

                    </form>
                </section>
                
                <div>
                    <label style="padding-top: 6rem;">Total Charge</label>
                    <div id="checkoutcalculation">
                        <span>Shopping cart: </span>€ 0.00
                    </div>
                    <p><em>To reduce costs, we are not engaging with a payment service, rather would ask you to wire the total to our Bank account directly:</p>
                    <h4>NL 58 RABO 0329634402</h4>
                    <p>Once you submit this order, an email will be send to The Ragtime Rumours with the listed information. As soon as the payment is received, the order will be shipped to you.</em></p>
                </div>
                    
            </div>


            <div style="margin-top: 50px; position: relative; top: 30px;">
                    <ul id="checkout_progress">
                        <li class="past"><span><a href="/cart/">Cart</a></span></li><li class="current"><span><a href="#">Checkout</a></span></li><li><span><span>Payment</span></span></li>
                    </ul>
            </div>
        </div>
    </div>
    </section>


{% include footer.html %}

</body>

</html>
