<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <!--<a href="assets/media/the_ragtime_rumours_final.zip" target="blank"><img src="assets/images/cover_2023.12.jpeg" title= "Download Final Album" alt="Final Album" align="right" width="200px" class="float"></a>-->
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            
            <!-- One -->
            <section id="one">
                <div class="inner">
                
                    {{ content }}
                    
                </div>
            </section>
            <div class="test">
                <div class="content">
                    
                    <!--<p style="text-transform: uppercase;">{{ site.description }}</p>
                    <a href="assets/media/the_ragtime_rumours_final.zip" class="button special">Download Final Album</a>
                    <a href="assets/media/the_ragtime_rumours_older.zip" class="button special">Download 3 Older Albums</a>-->
                    
                    <!--<a href="#two" class="button scrolly">About</a>-->
                    <!--<a href="#audio" class="button scrolly">Album</a>
                    <a href="#images" class="button scrolly">Images</a>
                    <a href="#three" class="button scrolly" onclick="ScrollView (true);">Events</a>-->
                    <!--<a href="#contact" class="button scrolly">Contact</a>-->
                </div> 
            </div>
        </div>
    </section>
    <section id="video">
	
	<div class="inner">
 
		<!--<h4>Our Compilation Album of Cardinal Directions </h4>-->
		<p>On December 30, 2023, we played our final concert as The Ragtime Rumours. We want to express our heartfelt gratitude to our friends and supporters. Your unwavering support has meant the world to us, and although our live performances have come to an end, we are excited to continue sharing our music with you.</p>
		
		<p>You can watch our <a href="https://www.youtube.com/watch?v=6m68M4q3mA8" target="blank">end-movie on youtube</a></p>

        <p>Over the past years, we have created a series of four EPs, each inspired by the influences from the four cardinal directions: West, South, East, and finally, now available for download through our website, North.</p>

        <p>Download our EPs or the compilation album of all four works using the links below:</p>

	</div>
	
</section>

    <!-- Main -->
    <div id="main">
        <!-- Two -->
        {% include tiles2.html %}
        <!-- One -->
        {% include video2.html %}
        
        <!-- Two -->
        {% include tiles.html %}

    </div>

    {% include contact.html %}
    {% include footer.html %}

</body>

</html>
